.bg-color{
            background-color: #054b8c;
}

.bg-liner-gradint{
    background-image: linear-gradient(to right, blue 10%, green 90% );
}

.card{
    width: 15rem;
    /* height: 15rem; */
    /* overflow: hidden; */
}

.sec-1{
            /* background-color: #557da1; */
        }


.mynew{
    display: flex;
    overflow: scroll;
/* overflow:-scrollable; */
}

.main{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}


.main-1{
            background-color: red;
}
.main-2{
    background-color: blue;
}
.main-3
{


    background-color: yellow;
}

