.brand-name{
    font-size: 35px;
    font-weight: bolder;
}
.navbar{
    display: flex;
}

.nav-item{
    padding-left: 10px;
    list-style-type: none;
}

.nav-link{
    font-size: 25px;
    color:black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        background-color: green;
    }
}


@media (max-width: 520px) {
    .navbar {
        display: block;
        background-color: red;
    }
}



