.header-A{
    background-color: steelblue;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
}

.logo{
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    /* width: 200px; */
}
.brand-name{
    border: 2px solid black;
    height: 100px;
    /* width: 400px; */

}
.nav{
    border: 2px solid black;
    height: 100px;
    width: 600px;
}