


.card-body{
    border: 2px solid black;
    width: 200px;
    /* transform: skewX(45deg); */
    /* transform: scale(45deg); */
    /* transform: scaleY(2.5); */
    /* transform: rotateY(70deg); */
    /* transform: rotateZ(60deg); */
}
.card-img img{
    width: 200px;
}

.card-title{
    text-align: center;
}

.main{
    /* width: 200px; */
    border: 2px solid black;
    width: 100%;
    height: 200px;

}
.subdiv{
    background-color: blue;
    width: 200px;
    height: 200px;
}


.main:hover .subdiv{
    transform: translate(900px);
}

